.sidebar__items {
	width: 100%;
	padding: 1.5rem 0;
	text-decoration: none;
	display: flex;
	align-items: center;
	transition: all linear 0.3s;
}

.sidebar__items > i {
	margin: 0 0.75rem;
	background-color: white;
	border-radius: 0.25rem;
	padding: 0.5rem;
	color: black;
	font-size: 1.5rem;
}

.sidebar__items:hover {
	color: white;
}

.sidebar__items--active {
	background-color: #8225df;
	color: white;
}

.sidebar__items--disabled {
	background-color: rgba(131, 131, 131, 0.445);
	color: black;
}
