.dial__calling-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;
	font-size: 2rem;
	border: none;
	color: #ccc;
}

.dial__calling-btn > i {
	border: 2px solid #ccc;
	font-size: 3rem;
	padding: 1rem;
	border-radius: 50%;
	margin-bottom: 1rem;
}
